.main__contact{
  width: 80%;
  background: #568399;
  border-radius: 2em;
  margin: auto;
  padding: 1em;
  margin-bottom: 5em;
  line-height: 1.6em;
}
.vkid a::after{
  content: attr(href);
}
.contact__text{
  text-align: center;
}
#legsend{
  text-align: center;
}
.inp{
  text-align: center;
}
.contact__text ul{
  list-style-type: none;
}
#send input{
  text-align: center;
}
#send input:focus{
font-style: italic;
}
/*sendMessage::placeholder {
  color: blue;
  font-size: 1.5em;
  font-style: italic;
}*/
#tovk{
  margin-left: 1em;
}
#name {
  color:black;
}
#mail {
  color:black;
}
#phone{
  color:black;
}
#message{
  color:black;
  resize:none;
}
#topic{
  color:black;
}
#topic option{
  color:black;
  text-align: center;
}
button{
  color: black;
  width: 15em;
  height: 2em;
  margin: 1em;
}
fieldset{
  border:1spx;
  border-style: dashed;
  border-radius: 10em;
}
