.vkid a::after{
  content: attr(href);
}
.contact__text{
  text-align: center;
}
#legsend{
  text-align: center;
}
.inp{
  text-align: center;
}
.contact__text ul{
  list-style-type: none;
}
#send input{
  text-align: center;
}
#send input:focus{
font-style: italic;
}
/*sendMessage::placeholder {
  color: blue;
  font-size: 1.5em;
  font-style: italic;
}*/
#tovk{
  margin-left: 1em;
}
#name {
  color:black;
}
#mail {
  color:black;
}
#phone{
  color:black;
}
#message{
  color:black;
  resize:none;
  width:30vw;
  /* max-width:20em; */
}
#topic{
  color:black;
  min-width:15vw;
  /* max-width: 30vw; */
}
#topic option{
  color:black;
  text-align: center;
}
button{
  color: black;
  /* width: 15em; */
  min-width:15vw;
  max-width: 20vw;
  height: 2em;
  margin: 1em;
  /* box-shadow: -2px 5px 1px gray; */
}
fieldset{
  border:1px;
  border-style: dashed;
  border-radius: 10em;
}
