*{
    padding: 0;
    margin: 0;
    color:azure;
}
html{
    font-family: 'Merriweather', sans-serif;
}
a { text-decoration: none;  }
a:hover { text-decoration: underline; }
.background{
    width:100%;
    min-height:100vh;
    background: linear-gradient(180deg,#c7edff,rgba(255,255,255,0) 100%), #ebf0ff;
}
.shapka{
    padding: 1em;
}
.shapka__logo{
    justify-content: left;
    display:flex;
    padding:1em;
}
.logotext{
    margin-top: 15px;
    margin-left: 8px;
    font-size: 50px;
    color:#2e4550;
}
.image__logo{
    /*padding:2em;*/
    }
.shapka__blocks{
    justify-content:center;
    display:flex;
    background-color: #568399;
    padding: 0.6em;
    border-radius: 13px;
    /*position: fixed;
    width: 100%;*/
}
.shapka__blocks__item{
    text-align: center;
    background: #8dacbb;
    padding: 0.5em;
    margin-right: 3em;
    border-radius: 13px;
}
.main__series{

}
.images__item{
border:1em;
border-style: solid;
background: #8dacbb;
}
.textbox{

}
.text__photo{

}
.dungeon{
background: #51778a;
padding:2em;
position:sticky;
left: 0; bottom: 0;
text-align: center;
right: 0;
/*position: fixed;*/
width:100%;
}
.boxtext{

}

/*.camera{
    background-size:64px;
    background-image: url("../images/camera.png");
    background-repeat: no-repeat;
}*/
#verysmall{
    font-size: 10px;
}
