*{
    padding: 0;
    margin: 0;
    color:azure;
}
html{
    font-family: 'Merriweather', sans-serif;
}
a { text-decoration: none;  }
a:hover { text-decoration: underline; }
.background{
    width:100%;
    min-height:100vh;
    background: linear-gradient(180deg,#c7edff,rgba(255,255,255,0) 100%), #ebf0ff;
}
.shapka{
    padding: 1em;
}
.shapka__logo{
    justify-content: left;
    display:flex;
    padding:1em;
}
.logotext{
    margin-top: 15px;
    margin-left: 8px;
    font-size: 50px;
    color:#2e4550;
}
.image__logo{
    /*padding:2em;*/
    }
.navbar
{
    width: 96%;
    height: 70px;
    margin: auto;
    background: #568399;
    border-radius: 13px;
}
.navbar .shapka__blocks{
    height: inherit;
    width: inherit;
    display:flex;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
    justify-content:center;

    /*position: fixed;
    width: 100%;*/
}
.shapka__blocks__item{
    text-align: center;
    height: 35px;
    background: #8dacbb;
    padding: 0.5em;
    border-radius: 13px;
}

.elements{
    flex-flow: row nowrap;
    list-style-type: none;
    /* justify-content:space-between; */
}
.elements li{
    display: inline-block;
    margin-right: 1em;
}
.elements li a{
    display: inline-block;
    transition: all 0.25s ease-in-out;
}
.elements li a:hover{
    color:#6e8de2;
    text-decoration: none;
}
.main__series{

}
.images__item{
border:1em;
border-style: solid;
background: #8dacbb;
}
.textbox{
text-align: center;
}
.textbox p{
color:black;
}
.dungeon{
background: #51778a;
padding:2em;
height: 10px;
left: 0; bottom: 0;
text-align: left;
/*position: fixed;*/
width:100%;
}
.boxtext{

}

/*.camera{
    background-size:64px;
    background-image: url("../images/camera.png");
    background-repeat: no-repeat;
}*/
#verysmall{
    font-size: 10px;
}
